Source: droid4-battery-calibration
Section: droid4
Priority: extra
Maintainer: uvos <devnull@uvos.xyz>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 3.9.1

Package: droid4-battery-calibration
Architecture: all
Description: Init script for battery calibration on the Motorola Droid 4
